.txt1 {
    color: blue;
}

.txt2 {
    font-size: 30px;
}

#myheader {
    background-color: yellow;
    color: red;
    padding: 10px;
    text-align: center;
}

h2 {
    color: aqua;
    border: 5px solid;
    border-color: bisque;
}